{% extends "base.html" %}

{% block content %}
<div class="p-5 mb-4 bg-white rounded-4 shadow-sm">
    <h1 class="display-6 fw-bold">Willkommen bei Wochi</h1>
    <p class="lead">
        Deine gemeinsame Wochenplanung für anfallende Aufgaben, Essensplanung und Einkaufsliste.
    </p>

    <hr>

    <div class="row g-3 mt-3">
        <div class="col-md-4">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">To-dos</h5>
                    <p class="card-text">Plane Aufgaben für eure Woche.</p>
                    <a href="#" class="btn btn-primary disabled">TBD</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Essensplanung</h5>
                    <p class="card-test">Plant eure Mahlzeiten für die Woche</p>
                    <a href="#" class="btn btn-primary disabled">TBD</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Einkaufsliste</h5>
                    <p class="card-test">Behalte alle Einkäufe im Blick.</p>
                    <a href="#" class="btn btn-primary disabled">TBD</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}